<br>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="sessionID" class="col-lg-2 control-label">sessionID:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="sessionID" placeholder="sessionID" ng-model="sessionID">
                </div>
            </div>
            <div class="form-group">
                <label for="sessionMemberID" class="col-lg-2 control-label">sessionMemberID:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="sessionMemberID" placeholder="sessionMemberID" ng-model="sessionMemberID">
                </div>
            </div>
            <div class="form-group">
                <label for="memberJobId" class="col-lg-2 control-label">memberJobId:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="memberJobId" placeholder="memberJobId" ng-model="memberJobId">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button ng-click="open()"  class="btn btn-default">submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"><a href="#/list">Back to message list</a></div>

</div>
