<div class="modal-body">
    <div class="row">
        <div class="col-md-12 panel panel-info">

            <div class="panel-heading">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
            <div class="panel-body">
                <pre>{{result|json}}</pre>
            </div>
            <div class="panel-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>


