<br>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="sessionID" class="col-lg-2 control-label">sessionID:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="sessionID" placeholder="sessionID" ng-model="sessionID">
                </div>
            </div>
            <div class="form-group">
                <label for="sessionMemberID" class="col-lg-2 control-label">sessionMemberID:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="sessionMemberID" placeholder="sessionMemberID" ng-model="sessionMemberID">
                </div>
            </div>
            <div class="form-group">
                <label for="page" class="col-lg-2 control-label">page:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="page" placeholder="page" ng-model="page">
                </div>
            </div>
            <div class="form-group">
                <label for="rows" class="col-lg-2 control-label">rows:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="rows" placeholder="rows" ng-model="rows">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-lg-2 control-label">type:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="type" placeholder="type" ng-model="type">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-lg-2 control-label">startDt:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="startDt" placeholder="startDt" ng-model="startDt">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-lg-2 control-label">endDt:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="endDt" placeholder="endDt" ng-model="endDt">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-lg-2 control-label">paramKey:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="paramKey" placeholder="paramKey" ng-model="paramKey">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button ng-click="open()"  class="btn btn-default">submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"><a href="#/list">Back to message list</a></div>

</div>
